<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page [to be replaced with Sim Nav]</title>
</head>
<body>
    <h1>Home Page [to be replaced with Sim Nav]</h1>
    <h3>Setup</h3>
    <a href="{% url 'project_start' %}">Project Start</a>
    <br/><br/>

    <h3>Cycles</h3>


    <h3>Input Functional Areas</h3>
    <a href="{% url 'marketing_management' %}">Marketing Management</a>
    <a href="{% url 'financial_management' %}">Financial Management</a>
    <br/><br/>

    <h3>Output Functional Areas</h3>
    <a href="{% url 'pro_forma' %}">36 Mo Fin Pr</a>
    <br/><br/>
</body>
</html>
{% endblock %}




