{% extends "base.html" %}
{% load static %}

<html>
<head>

    <title>Sim-Navigator</title>

</head>
<meta charset="utf-8">

</head>
<body>

{% block content %}

<div style="position: relative; width: 55%; height: 90%; padding-top: 0;
    padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
    border-radius: 8px; will-change: transform;">
    <iframe loading="lazy"
            style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
            src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGJdaZX_p4&#x2F;fCEtVTCtdZ1GUWxztvsgIg&#x2F;view?embed"
            allowfullscreen="allowfullscreen" allow="fullscreen">
    </iframe>
</div>

<div style="position: relative; width: 55%; height: 90%; padding-top: 0;
 padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
 border-radius: 8px; will-change: transform;">
    <iframe loading="lazy"
            style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
            src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGJdaZX_p4&#x2F;fCEtVTCtdZ1GUWxztvsgIg&#x2F;view?embed"
            allowfullscreen="allowfullscreen" allow="fullscreen">
    </iframe>
</div>
{% endblock %}

</body>

</html>
