<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
</head>
<body>
    <h1>Change Password</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Change Password</button>
    </form>
    <br>
    <a href="{% url 'signin_page' %}">Back to Login</a>
    {% if password_changed %}
        <script>
            alert('Password changed successfully! You will be redirected to the Signin page.');
            window.location.href = "{% url 'signin_page' %}";
        </script>
    {% elif not password_changed %}
        <script>
            alert('Change password. Use a password that is different from old password.');
        </script>
    {% endif %}
</body>
</html>
